server:
  port: 9090

spring:
  datasource:
    url: jdbc:oracle:thin:@127.0.0.1:1521:XE
    username: open_source
    password: 1111
    driver-class-name: oracle.jdbc.driver.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true


