.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 280px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px; line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 268px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 10px 10px 0px 10px; height: 200px;background: #fff; #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 20px;right: 20px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: auto;height: 75px; text-align:center; }
.desc .detail-btn {padding: 7px 15px 7px 15px; width:90%; margin-top:10px;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #3D98FF;}

.page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #3ca4f3;
    border-color: #3ca4f3;
}

.btn-primary:hover{
    background-color:#3ca4f3;
    border-color: #3ca4f3;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    font-weight:bold;
    background-color: #3ca4f3;
    border-color: #ccc;

}

.page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa;
    border-color: #ccc;
}

.youtube-title {
  font-size:13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}

.card {
  height: 190px;
}

#zoom-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#zoom-buttons button {
    font-size: 1.2em;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#message {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}