.description {
    position: absolute;
    width: 520px;
    height: 400px;
    z-index: 100;
    top: 120px;
    opacity: 0;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5; /* Opera */
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.card {
  height: 200px;
}

.card-body {
    padding-top:10px;
    padding-bottom:10px;
}

.card-title {
    font-size: 14px;
}

#mainImageCarousel {
    width:100%;
    height: 600px;
    overflow: hidden;
}

.main-img {
    width:100%;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}