<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
	<nav class="navbar navbar-expand navbar-light bg-light py-0 ml-1 border-bottom border-dark">
		<div class="container">
			<div class="navbar-brand">
				<img th:src="@{/images/visitjeju.png}" alt="logo" style="height: 80px">
			</div>
			<div class="navbar-nav">
				<ul class="navbar-nav me-auto mb-2 mb-xl-0">
					<li class="nav-item mx-1">
						<a class="nav-link text-dark h4" href="/">렌트카</a>
					</li>
					<li class="nav-item mx-1">
						<a class="nav-link text-dark h4" href="/bigdata/realtime-map">제주 빅데이터</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
</html>