<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="col-2 p-4 d-flex flex-column position-static bg-light">
    <ul class="nav flex-column">
        <li class="nav-item text-center">
            <div class="position-relative">
            <img th:src="@{/images/realtime-map-bigdata.png}" alt="빅데이터 이미지" style="width: 90%">
            <a class="nav-link active stretched-link text-dark" href="/bigdata/realtime-map" style="font-size: 1.2rem">
                실시간 지도 빅데이터
            </a>
            </div>
        </li>
        <li class="nav-item text-center">
            <div class="position-relative">
                <img th:src="@{/images/statistical-data.png}" alt="통계데이터 이미지" style="width: 100%">
                <a class="nav-link active stretched-link text-dark" href="/bigdata/dashboard" style="font-size: 1.2rem">
                    통계 데이터
                </a>
            </div>
            </a>
        </li>
    </ul>
</div>
</html>