<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/app/css/content.css}">
</head>
<body>
<th:block layout:fragment="content">
    <!-- main strat -->
    <main role="main">
        <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-4 p-4 d-flex flex-column position-static bg-light">
                <div class="justify-content-between d-flex py-3">
                    <div id="showPage">
                        <span aria-live="polite" style="color: #3ca4f3">{{totalElements}}</span>
                        <span>개의 {{categoryType}} 결과가 있습니다.</span>
                        <span style="font-size: 14px; color: #3ca4f3;" v-if="keyword != null && keyword !== ''">(검색어: {{keyword}})</span>
                    </div>
                    <div id="searchCondition">
                        <select id="sort" v-on:change="changeSort()">
                            <option th:if="${param.keyword != null}" value="search,desc">정확도순</option>
                            <option value="name,asc">이름순</option>
                            <option value="countOfReview,desc">리뷰 많은순</option>
                            <option value="naverScore,desc">네이버 평점순</option>
                            <option value="kakaoScore,desc">카카오 평점순</option>
                            <option value="googleScore,desc">구글 평점순</option>
                        </select>
                    </div>
                </div>
                <div>
                    <ul id="contentList" class="list-group py-2">
                        <li v-for="content in contentList" v-bind:content_id="content.id" class="d-flex list-group-item border-0 my-2 p-0">
                            <div class="d-flex">
                                <div>
                                    <a class="stretched-link" href="javascript:;" v-on:click="showMarker(content.id)">
                                        <img class="thumbnail" style="width: 190px; height: 140px" v-if="content.image != null" v-bind:src="content.image" v-bind:alt="content.title">
                                        <img class="thumbnail" style="width: 190px; height: 140px" v-else v-bind:src="alternativeImage" v-bind:alt="content.title">
                                    </a>
                                </div>
                                <div class="w-100 ml-3 py-3 d-flex align-items-center">
                                    <div>
                                        <p class="text-left h4" style="word-wrap:break-word;">{{content.title}}</p>
                                        <p class="text-left text-muted mb-1"> {{content.address}}</p>
                                        <div>
                                            <span v-if="content.naverScore>0"><img class="mr-2" src="/images/naver.png" alt="" style="width: 25px; height: 25px">{{content.naverScore}}/5</span>
                                            <span v-if="content.kakaoScore>0"><img class="mx-2" src="/images/kakao.png" alt=""  style="width: 25px; height: 25px">{{content.kakaoScore}}/5</span>
                                            <span v-if="content.googleScore>0"><img class="mx-2" src="/images/google.png" alt="" style="width: 25px; height: 25px">{{content.googleScore}}/5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dataTables_paginate paging_simple_numbers mt-4" id="pageBtn">
                    <ul class="pagination justify-content-center">
                        <li class="page-item paginate_button previous" id="previousBtn">
                            <a class="page-link" href="javascript:;" v-on:click="previousClick()">&laquo;</a>
                        </li>
                        <li class="page-item paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
                            <a class="page-link" href="javascript:;" aria-controls="example2">{{btn}}</a>
                        </li>
                        <li class="page-item paginate_button next" id="nextBtn">
                            <a class="page-link" href="javascript:;" v-on:click="nextClick()">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <div id="map" style="width: 100%; height:1000px;"></div>
                <div id="zoom-buttons">
                    <button id="zoom-in">+</button>
                    <button id="zoom-out">-</button>
                </div>
                <div id="message">
                    <p>Ctrl키를 누르면 확대/축소 가능합니다</p>
                </div>
            </div>
        </div>
    </main>
    <!-- Main end -->
    <!-- Modal start -->
    <div class="modal" tabindex="-1" id="content-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">세부 정보</h5>
                </div>
                <div class="modal-body px-0">
                    <div class="justify-content-center d-flex py-3">
                        <img v-if="content.image != null" v-bind:alt="content.title" v-bind:src="content.image" style="width: 500px; height: 360px;">
                        <img v-else v-bind:alt="content.title" v-bind:src="alternativeImage" style="width: 500px; height: 360px;">
                    </div>
                    <div class="justify-content-center d-flex my-1">
                        <div class="justify-content-between d-flex" style="width: 500px;">
                            <p class="h3">{{content.title}}</p>
                        </div>
                    </div>
                    <div class="justify-content-center d-flex my-1">
                        <div class="justify-content-between d-flex" style="width: 500px;">
                            <p>{{content.description}}</p>
                        </div>
                    </div>
                    <div class="justify-content-center d-flex my-1">
                        <div style="width: 500px;">
                            <div>
                                <span class="pr-1" style="cursor: pointer;" v-on:click="showContent()">세부 정보</span>
                                <span class="pl-1"  style="cursor: pointer;" v-on:click="showReview()">종합 후기</span>
                            </div>
                            <div class="border-top py-2">
                                <div v-show="contentIsClicked">
                                    <div>
                                        <p><i class="bi bi-geo-alt-fill"></i> 도로명주소 : {{content.address}}</p>
                                        <p><i class="bi bi-clock"></i> 오픈시간 : {{content.openTime}}</p>
                                        <p><i class="bi bi-telephone"></i> 전화번호 : {{content.tel}}</p>
                                        <p><i class="bi bi-window"></i> 홈페이지 : <a v-bind:href="content.homePage" target="_blank">{{content.homePage}}</a></p>
                                    </div>
                                    <div v-if="content.category == '관광지'" class="border-top py-2">
                                        <div><p><i class="bi bi-youtube"></i> YOUTUBE VLOG</p></div>
                                        <div>
                                            <div class="row">
                                                <div class="col-6" v-for="youtube in youtubeList">
                                                    <a v-bind:href="'https://www.youtube.com/watch?v='+youtube.id.videoId" target="_blank">
                                                        <div class="card mb-3 shadow-sm">
                                                            <img v-bind:src="youtube.snippet.thumbnails.medium.url" class="card-img-top" style="height:120px;">
                                                            <div class="card-body pb-0">
                                                                <div class="card-text">
                                                                    <p class="youtube-title" v-html="youtube.snippet.title"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-show="reviewIsClicked">
                                    <div class="justify-content-end d-flex">
                                        <div id="type" class="form-check form-check-inline">
                                                <input class="form-check-input mx-2" type="checkbox" id="naver" value="NAVER" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="naver">
                                                    네이버
                                                </label>
                                                <input class="form-check-input mx-2" type="checkbox" id="kakao" value="KAKAO" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="kakao">
                                                    카카오
                                                </label>
                                                <input class="form-check-input mx-2" type="checkbox" id="google" value="GOOGLE" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="google">
                                                    구글
                                                </label>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0" v-for="review in reviewList">
                                            <div>
                                                <span>{{review.writer}}</span>
                                                <span v-if="review.createdAt != null">{{review.createdAt}}</span>
                                                <span>{{review.type}}</span>
                                                <span v-if="review.score > 0">⭐{{review.score}}/5</span>
                                            </div>
                                            <div>
                                                <p v-if="review.detail != null && review.detail.trim().length > 0 ">{{review.detail}}</p>
                                                <p v-else>내용이 없습니다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <button class="btn btn-primary btn-block" v-on:click="showMore()">더보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5851690a093d31058c03fd4dbfa30936&libraries=services"></script>
    <script th:src="@{/app/js/content-kakaomap.js}"></script>
    <script th:src="@{/app/js/content.js}"></script>
    <script th:src="@{/app/js/kakaomap.js}"></script>
    </th:block>
</body>
</html>