<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<th:block layout:fragment="content">
  <main role="main">
    <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div th:replace="fragment/sidebar :: sidebar"></div>
      <div class="col-10">
        <div class="border-bottom py-2 px-3">
          <h2>DashBoard</h2>
          <select id="year">
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
          </select>
          <select id="category">
            <option>입도수</option>
          </select>
          <select id="legend">
            <option>연령별</option>
          </select>
        </div>
        <div class="px-5 py-5 d-flex justify-content-center border-bottom">
          <div style="width:80%">
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="px-3 my-5 d-flex justify-content-center">
          <img id="table" style="width: 90%; min-width: 700px" src="" alt="data">
        </div>
      </div>
    </div>
  </main>
  <script src="/app/js/dashboard.js"></script>
</th:block>
</body>
</html>