<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<th:block layout:fragment="content">
  <main role="main">
    <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div th:replace="fragment/sidebar :: sidebar"></div>
      <div class="col-10">
        <div class="border-bottom py-2 px-3">
          <h2>DashBoard</h2>
        </div>
        <div class="px-3 pt-3">
          <span>조회년도</span>
          <select id="year">
            <option th:each="year : ${#numbers.sequence(maxYear, 2014)}" th:text="${year}"></option>
          </select>
        </div>
        <div class="row w-100">
          <div class="col-6">
            <div class="p-3 border-bottom">
              <div>
                <canvas id="totalVisitorDataByYearChart"></canvas>
              </div>
            </div>
            <div class="p-3">
              <div>
                <span>조회월</span>
                <select id="month">
                  <option th:each="month : ${#numbers.sequence(1, 12)}" th:text="${#numbers.formatInteger(month,2)}" th:selected="${month == maxMonth}"></option>
                </select>
              </div>
              <div id="countOfVisitorDetail" class="justify-content-around d-flex py-3">
                <div class="border p-3 text-center flex-fill">
                  <p>누적 방문객 수</p>
                  <span class="h4 font-weight-normal">{{cumSumOfVisitor}}</span>
                </div>
                <div class="border p-3 text-center flex-fill">
                  <p>방문객 수</p>
                  <span class="h4 font-weight-normal">{{countOfVisitor}}</span>
                </div>
                <div class="border p-3 text-center flex-fill">
                  <p>일평균 방문객 수</p>
                  <span class="h4 font-weight-normal">{{averageOfVisitor}}</span>
                </div>
              </div>
            </div>
            <div class="m-0 p-0">
              <div class="row py-0">
                <div class="col-3">
                  <div>
                    <canvas id="domesticVisitorDataByMonthBarChart" height="500px"></canvas>
                  </div>
                </div>
                <div class="col-9 row p-0">
                  <div class="col-6 p-0">
                    <canvas id="domesticVisitorDataByMonthPieChart"></canvas>
                  </div>
                  <div class="col-6 p-0">
                    <canvas id="foreignVisitorDataByMonthPieChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border-bottom">
              <canvas id="forecastDataBarChart"></canvas>
            </div>
            <div class="p-3 mt-4">
              <div class="text-center mb-3">
                <span>제주 관련 검색 키워드 WordCloud</span>
              </div>
              <div class="mt-3">
                <div class="d-flex justify-content-center align-items-center">
                  <img src="/images/jejuKeyword.png" width="90%" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/app/js/dashboard.js"></script>
</th:block>
</body>
</html>