<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}">

<head>
  <link rel="stylesheet" href="/app/css/index.css">
  <script src="https://kit.fontawesome.com/22305b38c7.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div id="mainImageCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" data-interval="5000" th:each="num, numStat: ${#numbers.sequence(1,5)}" th:classappend="${numStat.count == 1} ? 'active' : ''">
<!--          <img class="description" th:src="@{'/images/textbox'+${numStat.count}+'.png'}" alt="" th:styleappend="${numStat.count == 1} ? 'left:350px' : 'right:350px'">-->
          <img class="main-img" th:src="@{'/images/main'+${numStat.count}+'.png'}" alt="배경 사진">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#mainImageCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#mainImageCarousel" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  <div class="container my-3">
    <!-- 오늘 날씨 콘텐츠 -->
    <div class="border-bottom py-3">
      <div class="mb-3">
        <h3>오늘 날씨의 콘텐츠</h3>
      </div>
      <div class="row">
        <div class="col-7">
          <div id="recommendContentByWeather">
            <div class="row">
              <div class="col-4" v-for="content in contentList">
                <div class="card mb-3 shadow-sm" v-on:click="search(content)">
                  <img v-bind:src="content.image" v-bind:alt="content.title" class="card-img-top" style="height:150px;" data-toggle="modal" data-target="#content-detail">
                  <div class="card-body">
                    <div class="card-text">
                      <p class="mb-1 card-title">{{content.title}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div id="weather" style="background-color : rgb(101, 178, 255); padding : 30px;color : #fff;">
            <div class="justify-content-between align-items-center d-flex">
              <div>
                <div style="font-size : 50pt">
                  <span>{{temp}}</span>
                </div>
                <div style="font-size : 20pt" class="justify-content-center d-flex">
                  <span>{{weatherDescription}}</span>
                </div>
              </div>
              <div>
                <i :class="icon + ' fa-7x'"></i>
              </div>
              <div>
                <div>
                  <span>체감 온도</span>
                  <span>{{feelsLike}}</span>
                </div>
                <div>
                  <span>습도</span>
                  <span>{{humidity}}</span>
                </div>
                <div>
                  <span>바람</span>
                  <span>{{wind}}</span>
                </div>
                <div>
                  <span>구름</span>
                  <span>{{cloud}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 오늘 날씨 콘텐츠 end-->
    <!-- 관심사 추천 콘텐츠 -->
    <div class="border-bottom py-3">
      <div class="mb-3">
        <h3>관심사 추천 콘텐츠</h3>
      </div>
      <div>
        <div class="row" id="recommendContentByHistory">
          <div class="col" v-for="content in contentList">
            <div class="card mb-3 shadow-sm" v-on:click="search(content)">
              <img v-bind:src="content.image" v-bind:alt="content.title" class="card-img-top" style="height:150px;" data-toggle="modal" data-target="#content-detail">
              <div class="card-body">
                <div class="card-text">
                  <p class="mb-1 card-title">{{content.title}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4>관련 YOUTUBE 영상</h4>
          </div>
          <div id="recommendYoutubeByHistory">
            <div id="youtubeCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" data-interval="false" v-for="number in contentList.length/3" :class="{'active' : number == '1'}">
                  <div class="row">
                    <iframe v-for="content in contentList.slice(3*(number-1), 3*number)" class="col" height="210" v-bind:src="'https://www.youtube.com/embed/'+content.id.videoId" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#youtubeCarousel" v-for="number in contentList.length/3" v-bind:data-slide-to="number-1" :class="{'active' : number == '1'}"></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="py-3">
          <div class="mb-3">
            <h4>네이버 블로그 포스트</h4>
          </div>
          <div id="recommendNaverBlogByHistory">
            <div id="naverBlogCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" data-interval="false" v-for="number in contentList.length/2" :class="{'active' : number == '1'}">
                  <div class="row">
                    <div class="col" v-for="content in contentList.slice(2*(number-1), 2*number)">
                      <div class="row" v-on:click="openBlog(content)" style="cursor:pointer;">
                        <div class="col-3 d-flex justify-content-center align-items-center border-right pr-0">
                          <div class="bloggername pr-1">
                            {{content.bloggername}}
                          </div>
                        </div>
                        <div class="col-9">
                            <p class="blog-title mt-2 mb-1" v-html="content.title"></p>
                            <p class="blog-content" v-html="content.description"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#naverBlogCarousel" v-for="number in contentList.length/2" v-bind:data-slide-to="number-1" :class="{'active' : number == '1'}"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 관심사 추천 콘텐츠 end-->
  </div>
  <script th:src="@{/app/js/index.js}"></script>
</th:block>
</body>
</html>