<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/app/css/rental-car.css}">
</head>
<body>
<th:block layout:fragment="content">
    <!-- main strat -->
    <main role="main">
        <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-4 p-4 d-flex flex-column position-static bg-light">
                <div class="justify-content-between d-flex py-3">
                    <div>
                        <span id="showPage" aria-live="polite" style="color: #A3DAFA">{{totalElements}}</span>
                        <span>개의 결과가 있습니다.</span>
                    </div>
                    <div id="searchCondition">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mx-2" type="checkbox" id="hasEV" v-on:change="checkEV()">
                            <label class="form-check-label" for="hasEV">
                                전기차
                            </label>
                            <input class="form-check-input mx-2" type="checkbox" id="hasVan" v-on:change="checkVan()">
                            <label class="form-check-label" for="hasVan">
                                승합차
                            </label>
                        </div>
                        <select id="sort" v-on:change="changeSort()">
                            <option value="name">이름순</option>
                            <option value="naverScore">네이버 평점순</option>
                            <option value="kakaoScore">카카오 평점순</option>
                            <option value="googleScore">구글 평점순</option>
                            <option value="numberOfTotalVehicles">보유차량순</option>
                        </select>
                    </div>
                </div>
                <div>
                    <ul id="rentalCarList" class="list-group py-2">
                        <li v-for="rentalCar in rentalCarList" v-bind:rentalCar_id="rentalCar.id" class="d-flex list-group-item border-0 my-2 p-0">
                            <div class="d-flex">
                                <div>
                                    <a class="stretched-link" href="javascript:;" v-on:click="showMarker(rentalCar.id)">
                                        <img style="width: 190px; height: 140px" v-bind:src="rentalCar.image" alt="사진이해효">
                                    </a>
                                </div>
                                <div class="w-100 ml-3 py-3 d-flex align-items-center">
                                    <div>
                                        <p class="text-left h4" style="word-wrap:break-word;">{{rentalCar.name}}</p>
                                        <p class="text-left text-muted mb-1"> {{rentalCar.address}}</p>
                                        <div>
                                            <span v-if="rentalCar.naverScore>0"><img class="mr-2" src="/images/naver.png" alt="" style="width: 25px; height: 25px">{{rentalCar.naverScore}}/5</span>
                                            <span v-if="rentalCar.kakaoScore>0"><img class="mx-2" src="/images/kakao.png" alt=""  style="width: 25px; height: 25px">{{rentalCar.kakaoScore}}/5</span>
                                            <span v-if="rentalCar.googleScore>0"><img class="mx-2" src="/images/google.png" alt="" style="width: 25px; height: 25px">{{rentalCar.googleScore}}/5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dataTables_paginate paging_simple_numbers mt-5" id="pageBtn">
                    <ul class="pagination justify-content-center">
                        <li class="page-item paginate_button previous" id="previousBtn">
                            <a class="page-link" href="javascript:;" v-on:click="previousClick()">&laquo;</a>
                        </li>
                        <li class="page-item paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
                            <a class="page-link" href="javascript:;" aria-controls="example2">{{btn}}</a>
                        </li>
                        <li class="page-item paginate_button next" id="nextBtn">
                            <a class="page-link" href="javascript:;" v-on:click="nextClick()">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <div id="map" style="width: 100%; height:100vh"></div>
            </div>
        </div>
    </main>
    <!-- Main end -->
    <!-- Modal start -->
    <div class="modal" tabindex="-1" id="rentalCar-detail" v-bind:rentalCar = "rentalCar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">렌트카 업체 정보</h5>
                </div>
                <div class="modal-body px-0">
                    <div class="justify-content-center d-flex py-3">
                        <img v-bind:src="rentalCar.image" alt="" style="width: 500px; height: 400px;">
                    </div>
                    <div class="justify-content-center d-flex my-1">
                        <div class="justify-content-between d-flex" style="width: 500px;">
                            <span class="h3">{{rentalCar.name}}</span>
                        </div>
                    </div>
                    <div class="justify-content-center d-flex my-1">
                        <div style="width: 500px;">
                            <div>
                                <span class="pr-1" style="cursor: pointer;" v-on:click="showContent()">세부 정보</span>
                                <span class="pl-1" style="cursor: pointer;" v-on:click="showReview()">종합 후기</span>
                            </div>
                            <div class="border-top py-2">
                                <div v-show="contentIsClicked">
                                    <p><i class="bi bi-geo-alt-fill"></i> {{rentalCar.address}}</p>
                                    <p><i class="bi bi-clock"></i> {{rentalCar.openTime}} ~ {{rentalCar.closeTime}}</p>
                                    <p><i class="bi bi-car-front-fill"></i> 보유 차량 수 : {{rentalCar.numberOfTotalVehicles}}</p>
                                    <p>승용차 수 : {{rentalCar.numberOfVehicles}}</p>
                                    <p>전기차 수 : {{rentalCar.numberOfElectricVehicles}}</p>
                                    <p>승합차 수 : {{rentalCar.numberOfVans}}</p>
                                    <p><i class="bi bi-telephone"></i> 전화번호 : {{rentalCar.tel}}</p>
                                    <p><i class="bi bi-window"></i> 홈페이지 : <a v-bind:href="rentalCar.homePage" target="_blank">{{rentalCar.homePage}}</a></p>
                                </div>
                                <div v-show="reviewIsClicked">
                                    <div class="justify-content-end d-flex">
                                        <div id="type" class="form-check form-check-inline">
                                                <input class="form-check-input mx-2" type="checkbox" id="naver" value="NAVER" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="naver">
                                                    네이버
                                                </label>
                                                <input class="form-check-input mx-2" type="checkbox" id="kakao" value="KAKAO" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="kakao">
                                                    카카오
                                                </label>
                                                <input class="form-check-input mx-2" type="checkbox" id="google" value="GOOGLE" checked v-on:change="changeCondition()">
                                                <label class="form-check-label" for="google">
                                                    구글
                                                </label>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0" v-for="review in reviewList">
                                            <div>
                                                <span>{{review.writer}}</span>
                                                <span v-if="review.createdAt != null">{{review.createdAt}}</span>
                                                <span>{{review.type}}</span>
                                                <span v-if="review.score != null">⭐{{review.score}}/5</span>
                                            </div>
                                            <div>
                                                <p v-if="review.content != null && review.content.trim().length > 0 ">{{review.content}}</p>
                                                <p v-else>내용이 없습니다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <button class="btn btn-primary btn-block" v-on:click="showMore()">더보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">끄기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5851690a093d31058c03fd4dbfa30936&libraries=services"></script>
    <script th:src="@{/app/js/rental-car-kakaomap.js}"></script>
    <script th:src="@{/app/js/rental-car.js}"></script>
    </th:block>
</body>
</html>