<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<th:block layout:fragment="content">
  <main role="main">
    <div class="row no-gutters flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 100vh">
      <div th:replace="fragment/sidebar :: sidebar"></div>
      <div class="col-10">
      </div>
    </div>
  </main>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=69101a0b646ceaf35f15bd1e1d696182&libraries=services"></script>
  <script th:src="@{/app/js/bigdata-kakaomap.js}"></script>
</th:block>
</body>
</html>